.navbar {
	width: 100%;
	color: white;
	background-color: hsl(0, 0%, 41%);
	flex: 0 1 auto;

	ul {
		width: 100%;
		display: flex;
		flex-direction: row;
		column-gap: 10px;
		padding: 0.5em 0;

		li {
			button {
				padding: 0.5em;
				border-radius: 10px;
				transition: all ease-in-out .2s;
			}

			.connectBtn {
				border: 2px solid white;

				&:hover {
					color: black;
					background-color: white;
				}
			}

			.disconnectBtn {
				border: 2px solid white;
				background-color: hsl(0, 77%, 48%);

				&:hover {
					color: hsl(0, 77%, 48%);
					background-color: white;
					border: 2px solid hsl(0, 77%, 48%);
				}
			}

			&:last-child {
				margin-left: auto;
				margin-right: 50px;
			}
		}
	}
}